<footer class="footer">
    <a href="https://www.linkedin.com/in/akshansh-verma-b88082293/"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://x.com/Akshansh151894"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.instagram.com/_bakchod.developer_/"><i class="fa-brands fa-instagram"></i></a>
    <a href="whatsapp:contact=919899062440@s.whatsapp.com&message=Hello, Akshansh Verma"><i class="fa-brands fa-whatsapp"></i></a>
  </footer>

  <div class="content">
    <div class="content-column">
      <h4>My Services:</h4>
      <p>Full Stack Web Developer</p>
      <p>Website Designer</p>
      <p>Prompt Engineer</p>
    </div>
    
    <div class="content-column">
      <h4>Contact</h4>
      <p>Portfolio Website</p>
      <p>akshanshverma53@gmail.com</p>
      <p>+91 9899062440</p>
    </div>
    
    
    <div class="content-column">
      <h4>Download Resume</h4>
      <p>Not Interested anymore? <a href="#" class="unsubscribe">unsubscribe</a> from our list</p>
    </div>
    
    <div style="clear: both;"></div> 
  </div>
