<footer class="static-bottom">
    <div class="footer-info">
        <div class="social-media">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>

        <div class="creation">
            <p>@PropertEase created by Akshansh Verma</p>
        </div>

        <div class="conditions">
            <span>Terms</span>
            <span>Conditions</span>
        </div>
    </div>
</footer>