<% layout("/layouts/boilerplate") %>

<div class="login-form row mt-3">
    <div class="col-6 offset-3">
        <form action="/users/signup" method="POST">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" 
        name="email"
        class="form-control" 
        id="email">
        <label for="username" class="form-label">Username</label>
        <input type="text" 
        name="username"
        class="form-control" 
        id="username">
        <label for="password" class="form-label">Password</label>
        <input type="password" 
        name="password"
        class="form-control" 
        id="password">
        <button class="mt-2 btn btn-danger">Register</button>
        

        </form>
    </div>
</div>